/* ini css */

header{
    text-align: center;
}

main {
display: flex;
}

.colom-kiri{
    padding: 20px;
}

.colom-kanan{
    padding: 20px;
    text-align: left;
}
form{
    background-color: aliceblue;
    padding: 12px;
    border: 2px solid;
}

.container-button{
    padding-top: 12px;
}
.button1{
    height: 32px;
    background-color: tomato;
    border: 1px solid;
    border-radius: 4px;
}
.button2{
    height: 32px;
    background-color: #ffff;
    border: 1px solid;
    border-radius: 4px;
}

.form1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

footer{
    text-align: center;
}